<h1><%= @restaurant.name %></h1>

<ul>
  <li>Address</li>
  <%= @restaurant.address %>

  <br>

  <li>Phone number</li>
  <%= @restaurant.phone_number %>

  <br>

  <li>Category</li>
  <%= @restaurant.category %>

  <br>

  <li>Reviews </li>
    <ul>
    <% @restaurant.reviews.each do |review| %>
      <li><%= "Rating:#{review.rating} -" %> <%= review.content%></li>
    <% end %>
    </ul>
</ul>

<h1>Please write a review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>
  <%= f.input :content %>
  <%= f.select :rating, [["1",1],["2",2],["3",3],["4",4],["5",5]] %>

  <%= f.button :submit %>
<% end %>

<br>
<%=link_to "[Home]", restaurants_path(@restaurant) %>


